<div class="container">
    <h3>Child to Parent Component Using Angular</h3>
    <div class="main">
        <div class="child">
            <h4>Child</h4>
            <app-child (key2)="fun2($event)"></app-child>
        </div>
        <div class="parent">
            <h4>Parent</h4>
            <p>{{data}}</p>
        </div>
    </div>
    <hr>
    <h3>Parent to Child Component Using Angular</h3>
    <div class="main">
        <div class="parent">
            <p>What will be the square root?</p>
            <input type="text" [(ngModel)] = "value">
        </div>
        <div class="child">
            <h4>Child</h4>
            <app-child (key2)="value"></app-child>
        </div>
    </div>
</div>
